<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work_With_Me</title>
</head>
<body style="width: 100vw; display: flex; flex-direction: column;">
  <div class="title">
    <h1>Welcome <%=name%> to <b>-Work With Me-</b></h1>
  </div>
  <div class="image">
    <img width="100vw" height="40vh" src="../emailImages/welcome.jpg" alt="welcome-image">
  </div>
  <div class="message">
    <p>
      This is your first step <%=name%> to creating an opportunity and a really good 
      job chance for yourself. Explore the best of our services, and we'll make sure to provide your
      with jobs that meet your capability and expertise. Enjoy seemless interactions as a job expert,
      assistant or manager...
      We offer fast services, during application and also real time communication with 
      managers in respective job applications.

      Yours Truly,
      Work With Me.
    </p>
  </div>
</body>
</html>